In [1]:
import pandas, seaborn

In [2]:
import matplotlib, matplotlib.pyplot
matplotlib.rcParams.update({'font.size':20, 'font.family':'sans-serif', 'xtick.labelsize':20, 'ytick.labelsize':20, 'figure.figsize':(8, 4), 'axes.labelsize':20})

# 0. user-defined variables

In [3]:
#! drangajokull
home_dir = '/home/adrian/'

#! necio5
#home_dir = '/Users/adrian/'

In [4]:
up_regulons = home_dir + 'gd15/hi/research/osteo/results/regulons/' + 'regulons_up.csv'
down_regulons = home_dir + 'gd15/hi/research/osteo/results/regulons/' + 'regulons_down.csv'

results_folder = home_dir + 'gd15/hi/research/osteo/results/regulons/'

days = [3, 6, 9, 16, 28]

# 1. read information

In [5]:
up = pandas.read_csv(up_regulons, sep='\t', index_col='Regulon ID', usecols=[0, 6, 7, 8, 9, 10])
print(up.shape)
up.head()

(51, 5)

,Activity on Day 3,Activity on Day 6,Activity on Day 9,Activity on Day 16,Activity on Day 28
Regulon ID,,,,,
PRRX2.31,-1.648,-0.292,0.815,0.325,0.799
JDP2.13,-1.423,-0.586,0.409,0.274,1.327
RORB.2,-1.204,-0.934,-0.068,0.802,1.404
NFATC4.6,-1.375,0.791,1.258,-0.088,-0.585
POU6F1.3,-1.272,0.603,1.527,-0.378,-0.481

In [6]:
down = pandas.read_csv(down_regulons, sep='\t', index_col='Regulon ID', usecols=[0, 6, 7, 8, 9, 10])
print(down.shape)
down.head()

(60, 5)

,Activity on Day 3,Activity on Day 6,Activity on Day 9,Activity on Day 16,Activity on Day 28
Regulon ID,,,,,
CXXC1.7,1.722,-0.243,-0.231,0.083,-1.331
E2F1.30,1.714,0.043,-0.640,0.083,-1.199
E2F4.49,1.670,0.055,-0.708,0.186,-1.202
E2F7.2,1.803,0.011,-0.291,-0.291,-1.231
E2F8.123,1.704,0.044,-0.641,0.091,-1.198

# 2. format data

In [7]:
regulons = pandas.concat([up, down])
print(regulons.shape)
regulons.head()

(111, 5)

,Activity on Day 3,Activity on Day 6,Activity on Day 9,Activity on Day 16,Activity on Day 28
Regulon ID,,,,,
PRRX2.31,-1.648,-0.292,0.815,0.325,0.799
JDP2.13,-1.423,-0.586,0.409,0.274,1.327
RORB.2,-1.204,-0.934,-0.068,0.802,1.404
NFATC4.6,-1.375,0.791,1.258,-0.088,-0.585
POU6F1.3,-1.272,0.603,1.527,-0.378,-0.481

# 3. build heatmap

In [8]:
linkage_method = 'complete'
distance_metric = 'cosine'

In [9]:
seaborn.clustermap(regulons, cmap='bwr', vmin=-2, vmax=2, col_cluster=False, method=linkage_method, metric=distance_metric, cbar_kws={'label':'regulon activity'}, yticklabels=2)
matplotlib.pyplot.savefig(results_folder + 'regulons.svg')
matplotlib.pyplot.clf()